name: Dependency Review Template
on:
  workflow_call:
    inputs:
      allow-dependencies-licenses:
        description: 'List of dependencies to exclude from the license check'
        required: false
        type: string

jobs:
  DependencyReview:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          config-file: IsyFact/isy-github-actions-templates/.github/dependency_review_config.yml@main
          allow-dependencies-licenses: ${{ inputs.allow-dependencies-licenses }}
