name: Documentation Build

on:
  pull_request:
    types: [ opened, synchronize, reopened ]
  push:
    tags:
      - '^\\d+\\.\\d+\\.\\d+$'

jobs:
  Build:
    # use a fixed release instead of "main" for a stable pipeline
    uses: IsyFact/isy-github-actions-templates/.github/workflows/docs_build_template.yml@main
    secrets:
      ANTORA_TRIGGER_TOKEN: ${{ secrets.ANTORA_TRIGGER_TOKEN }}
